* {
    font-family: Constantia;
    font-weight: 900;
}

.outerbox {
    width: 550px;
    height: 215px;
    border: 2px solid whitesmoke;
    display: flex;
}

.marginleft, .margincenter, .marginright {
    width: 213px;
    height: 25px;
    border: 2px solid;
    text-align: center;
}

.left, .center, .right {
    border: 2px solid;
    position: absolute;
}

.left {
    width: 178px;
    height: 185px;
    margin-top: 25px;
    background-color: lightblue;
    padding-top: 5px;
    padding-left: 10px;
}

.center {
    width: 177px;
    height: 25px;
    margin-top: 25px;
    background-color: yellow;
    text-align: right;
}

.right {
    width: 176.5px;
    height: 25px;
    margin-top: 25px;
    background-color: red;
    text-align: center;
}

.list, .list_un {
    list-style-type: decimal;
}

.bc {
    display: inline-flex;
    position: absolute;
    left: 199px;
}

.un_list {
    background-color: green;
    position: absolute;
    width: 347px;
    height: 157px;
    margin-top: 53px;
    padding-top: 5px;
    padding-left: 10px;
    margin-right: 10px;
    left: 0px;
    border: 2px solid;
}

.whole {
    width: 400px;
    height: 500px;
    border: 2px solid;
    margin-left: 60px;
    display: flex;
}

.le {
    width: 122px;
    height: 500px;
    background-color: blue;
}

.ce, .ri {
    width: 134px;
    height: 400px;
    background-color: yellow;
    position: absolute;
}

.ce {
    margin-left: 122px;
}

.ri {
    margin-left: 257px;
}

.bottom {
    width: 278px;
    height: 100px;
    background-color: green;
    margin-left: 122px;
    margin-top: 400px;
    position: absolute;
}
